.backdrop.is-hidden,
.backdrop {
  position: fixed;

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms var(--transition), transform 250ms var(--transition);

  background-color: var(--backdrop-color);
}

.backdrop {
  opacity: 1;
  pointer-events: all;
  overflow-y: scroll;
  @media screen and (max-width: 767px) {
    padding: 93px 15px 94px;
  }
}
