.page-header {
  border-bottom: 1px solid var(--header-border);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  color: var(--title-color);
}

.menu__button {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;

  padding: 0;

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: var(--main-active-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &__list {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--transition);

    color: var(--title-color);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.current-page.page-nav__link {
  color: var(--main-active-color);
}

.nav-anchor:focus {
  color: var(--title-color);
}

.current-page {
  position: relative;

  &::after {
    content: '';

    position: absolute;

    border: 2px solid var(--main-active-color);
    border-radius: 2px;
    background-color: var(--main-active-color);

    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  
  @media screen and (min-width: 768px) {
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    transition: color 250ms var(--transition);

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    color: var(--text-color);
  }
}

.envelope-icon {
  fill: currentColor;

  display: block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.smartphone-icon {
  fill: currentColor;

  width: 10px;
  height: 16px;
  margin-right: 10px;
}
