.logo {
  color: var(--main-active-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}