.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;

  display: block;

  cursor: pointer;
  border: none;
  background-color: transparent;

  padding: 0;

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: var(--main-active-color);
  }
}

.menu-container {
  overflow-y: scroll;

  position: fixed;
  top: 0;
  right: 0;

  transform: translateX(100%);
  transition: transform 500ms var(--transition);
  transition-delay: 150ms;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  background-color: var(--background-color);

  &.is-open {
    transform: translateX(0);
  }

  overflow-y: scroll;
  // overflow-x: none;
  pointer-events: all;
}

.menu-nav {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    padding-right: 100%;

    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }

  &__link.current {
    color: var(--main-active-color);
  }
}

.menu__icon {
  width: 40px;
  height: 40px;

  transition: fill 250ms var(--transition);
}

.menu-contacts {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;

    letter-spacing: 0.02em;

    color: var(--text-color);
    transition: color 250ms var(--transition);
  }

  &__link:hover,
  &__link:focus {
    color: var(--main-active-color);
  }

  &__link.number {
    color: var(--main-active-color);
  }

  &__link.email {
    font-size: 24px;
    line-height: 1.17;
  }
}

.menu-social-media {
  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item:not(:last-child)::after {
    position: absolute;
    // top: 0;
    // left: 0;
    content: '';

    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg) translateX(50%);
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.12;

    @media screen and (max-width: 479px) {
      font-size: 15px;
    }

    letter-spacing: 0.02em;

    color: var(--main-active-color);
  }

  display: flex;
  flex-wrap: wrap;
}
