.portfolio {
  &__link &__text-wrapper {
    box-shadow: none;
    transition: box-shadow 250ms var(--transition);
  }
  
  &__item {
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link:hover &__text-wrapper,
  &__link:focus &__text-wrapper,
  &__link:active &__text-wrapper {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__img-container {
    position: relative;

    overflow: hidden;
  }

  &__text--non-hovered {
    position: absolute;

    top: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 77px;
    padding-bottom: 77px;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;

    @media screen and (min-width: 385px) {
      font-size: 18px;
    }

    line-height: 1.56;

    margin: 0;

    background-color: var(--card-overlay-color);
    color: var(--background-color);
  }

  &__link:hover &__text--non-hovered,
  &__link:focus &__text--non-hovered,
  &__link:active &__text--non-hovered {
    transform: translateY(0);
  }

  &__link:hover &__img-overlay,
  &__link:focus &__img-overlay,
  &__link:active &__text--non-hovered {
    transform: translateY(0);
  }

  &__text-wrapper {
    border-color: var(--portfolio-item-border);
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0;

    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }
  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 0;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.87;

    margin-top: 0;
    margin-bottom: 0;
  }
  
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
