.button {
  cursor: pointer;
  border: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  white-space: nowrap;

  transition: color 250ms var(--transition), background-color 250ms var(--transition),
    box-shadow 250ms var(--transition);

  color: var(--title-color);
  background-color: var(--white-buttons-color);

  padding: 6px 22px;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--background-color);
    background-color: var(--main-active-color);
  }
}

.current-button {
  color: var(--background-color);
  background-color: var(--main-active-color);
}
