:root {
  --main-active-color: #2196f3;
  --background-color: #ffffff;
  --title-color: #212121;
  --hero-background-color: #2f303a;
  --text-color: #757575;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --white-buttons-color: #f5f4fa;
  --header-border: #ececec;
  --portfolio-item-border: #eeeeee;
  --social-meadia-logo: #afb1b8;
  --wawd-text-color: rgba(47, 48, 58, 0.8);
  --card-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --form-input-border-color: rgba(33, 33, 33, 0.2);
}